<div class="min-w-[120px]">
    <h3 class="text-base md:text-lg font-semibold mb-4 md:mb-6">Resources</h3>
    <ul class="space-y-2">
        <li><a href="#" class="text-gray-400 hover:text-white transition-colors text-sm md:text-base">Blog</a>
        </li>
        <li><a href="#" class="text-gray-400 hover:text-white transition-colors text-sm md:text-base">Help
                Center</a>
        </li>
        <li><a href="#" class="text-gray-400 hover:text-white transition-colors text-sm md:text-base">Community
                Guidelines</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition-colors text-sm md:text-base">Organizer
                Tips</a>
        </li>
    </ul>
</div>