<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONEKTIFY - Discover Events Near You</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% include "tailwindConfig.html" %}
    {% include "menuButton.html" %}
</head>

<body class="bg-bg-light text-text font-sans leading-relaxed">
    {% include "header.html" %}
    {% include "hero.html" %}
    {% include "features.html" %}
    {% include "interfaces.html" %}
    {% include "join.html" %}
    {% include "footer.html" %}
    {% include "mainScript.html" %}
</body>

</html>