<section class="mt-12 md:mt-16 py-8 md:py-20 relative overflow-hidden" id="start">
    <div class="container mx-auto px-4 sm:px-8 max-w-6xl">
        <div class="flex flex-col md:flex-row items-center">
            <!-- Text Content (Left Side) -->
            <div class="w-full md:w-1/2 z-10 md:pr-8 order-2 md:order-1">
                <h1 class="text-3xl md:text-5xl font-bold leading-tight mb-4" data-translate="headline">Discover amazing events happening
                    around you</h1>
                <p class="text-lg md:text-xl text-text-light mb-6" data-translate="subHeadline">From parties to workshops, sports to book clubs -
                    find and
                    share local events that match your interests.</p>
                <div class="flex flex-col sm:flex-row gap-3">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeMuf7gF04F-HzMVyjD9U6NtT8v8-jSG2dbO8k5-0tVPRynXQ/viewform?usp=preview"
                        target="_blank"
                        class="bg-primary text-white px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-primary-dark transition-colors text-center" data-translate="joinButton">Join
                        Waitlist</a>
                    <a href="#features"
                        class="border-2 border-primary text-primary px-4 py-2 md:px-6 md:py-3 rounded-lg font-semibold hover:bg-primary hover:text-white transition-colors text-center" data-translate="learnMoreButton">Learn
                        More</a>
                </div>
            </div>

            {% include "logo.html" %}
        </div>
    </div>
</section>